<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="folderPath" value="D:\tailieu.ismart@gmail.com\AY 2015-2016" />
    <add key="outputPath" value="D:\BachLe\Desktop\temp\" />
    <add key="outputName" value="tailieugiaovien" />
    <add key="outputExtension" value=".txt" />
    <add key="excludes" value="desktop.ini;desktop.ini" />
    <add key="delimiter" value="**************************" />
    <add key="tab" value=",," />
  </appSettings>
</configuration>
